page-labs {

    .main{ background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)), url('../../assets/imgs/4.jpg');
        background-attachment: fixed;
        background-size: cover;
      }

    .newspaper1{
        color: white;
         text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-style: normal;
    }



    #label{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: lightblue;
        
        }
}
